/*font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/
h1 {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Poppins", sans-serif;
}
i {
  color: blueviolet;
  font-size: 36px;
}
